.guestbook {
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: var(--color-blue-white);
}

@media (max-width: 768px) {
    .guestbook {
        padding: 0 40px;
        width: 100%;
    }
}