.home {
    padding: 0 80px;
    /* 전체 화면의 80% 사용 */
    width: 80vw;
    max-width: 1280px;
    margin: 0 auto;
    /* margin과 padding을 width에 포함시켜 실제 크기가 max-width를 넘지 못하도록 한다고 함 */
    box-sizing: border-box;
    background-color: var(--color-blue-white);
}

@media (max-width: 768px) {
    .home {
        padding: 0 40px;
        width: 100%;
    }
}