.container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--color-primary);
    background: var(--color-card-background);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 16px;
    }
}